<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>product component works and below is the example of Table</h2>
<h3>Table Definition added to show demo of child component connecting with app-component</h3>
<table>
  <tr *ngIf="products.length > 0">
    <th>id</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.price}}</td>
    </tr>
    <tr *ngIf="products.length === 0">
    <td colspan="4">No products available</td>
  </tr>
</table>

</body>
</html>

